<li class="dropdown" id="fat-menu">
<a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop3" href="#">You <b class="caret"></b></a>
<ul aria-labelledby="drop3" role="menu" class="dropdown-menu">
<li><a href="/users/sign_in" tabindex="-1">Login</a></li>
<li><a href="/users/sign_up" tabindex="-1">Signup</a></li>
<li class="divider"></li>
<li><a href="#" tabindex="-1">Help</a></li>
</ul>
</li>
