%li.word
	=link_to word.content, word
	=link_to raw('<i class="icon-pencil"></i>'), edit_word_path(word), class: "no_u"
	=link_to raw('<i class="icon-trash"></i>'), word, method: :delete, data: { confirm: 'Are you sure?' }, class: "no_u"
