.center
	=image_tag 'logo_english.png'
	.medium_vertical_gap
	=form_tag('#', class:"form-search") do
		=text_field_tag :q, nil, class: "input-xlarge", placeholder: "Type to search"
		=submit_tag 'Search', class: "btn"
