.word
	%h1= @word.content
	.word_action
		-if @word.user == current_user
			= link_to 'Edit', edit_word_path(@word), class: "btn btn-warning btn-mini"
			= link_to 'Delete', @word, method: :delete, confirm: "Do you want to delete #{@word.content}", class: "btn btn-danger btn-mini"
		=link_to("New Meaning", {action: :new, controller: :meanings, word_id: @word.id}, class: "btn btn-success btn-mini")

%hr

=render @word.meanings
